<div class="container mt-5 d-flex justify-content-center">
    <form class="row g-3 w-50 ">
        <div class="col-12 text-center my-3">
            <h1 class="bg-dark text-white p-3">Add New Product</h1>
          </div>
        <div class="col-md-6">
          <input type="text" class="form-control" id="productname" placeholder="Product Name">
        </div>
        <div class="col-md-6">
          <input type="number" class="form-control" id="productquantity" placeholder="Product Quantity">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" id="productprice" placeholder="Product Price">
          </div> 
          <div class="col-md-6">
            <input type="text" class="form-control" id="companyname" placeholder="Company Name">
          </div>
        
        <div class="col-md-6">
            <label for="formcheck" class="form-label">Select Color</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">3 </label>
              </div>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">Select Color</label><br>
          
          <select id="inputState" class="form-select">
            <option selected>Red </option>
            <option>Yellow</option>
          </select>
        </div>
        <div class="form-group col-md-12">
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div> 

          <div class=" col-md-6  ">
            <label for="formFileMultiple" class="form-label">Select Images</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
          </div>

          
          <div class="col-md-6">
            <label for="inputState" class="form-label">Select Cateogary</label>
            <select id="inputState" class="form-select">
              <option selected>Red </option>
              <option>Yellow</option>
            </select>
          </div> 

        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100 mt-3">Create Product</button>
        </div>
      </form>
    
</div>