.dropdown:hover .dropdown-menu{
    display: block;
} 
.dropdown-toggle::after {
    content: none;}
    .navbar{
        height: 100px;
    }
    .search-input{
        height: 60px;
        width: 600px;
        
    }